body {
    margin: 2.5% 20% 0;
}
h1{
    letter-spacing:5px;
    font-family:"Courier New", Courier, Monospace;
    text-align:center;
}
.headImg img{
    display: block;
    margin: 0 auto;
}
.main {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content:space-between;
    padding: 10px 7.5% 0px
}
.main div{
    -webkit-flex: 1; /* Safari 6.1+ */
    flex: 1;
    text-align:center;
    font:23px "Times New Roman", Times, serif;
}
.main div a{
    color:black;
    text-decoration:none
}
.cont{
    font-size:25px;
    font-weight:bold;
}
.blurry {
    color: transparent;
    text-shadow: 0 0 7px #000000;
    transition: text-shadow 1s cubic-bezier(0, 1, 0, 1);
  }
.blurry:hover {
    text-shadow: 0 0 0 #000000;
}

footer{
    position: fixed;
    height: 30px;
    bottom: 30px;
    width: 60%;
}

footer div{
    text-align: center;
}