body{
    height: 97vh;
}

body,div{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}


.game{
    display: flex;
    height: 600px;
    width: 800px;
    border: 2px solid black;
}

.main_area{
    height: 80%;
    margin-bottom: 50px;
}

.results{
    display: inline-block;
    text-align: center;
}

button{
    border: 2px solid black;
    background-color: white;
    padding: 10px 20px;
    margin: 5px;
}